*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: rgb(75, 75, 75);
}


.container{
    display: flex;
}
footer{
    background-color: black;
    color: rgba(255, 255, 255, 0.699);
    width: 100%;
    height: 30px;
    text-align: right;
}
footer p{
    margin-right: 30px;
}

a{
    text-decoration: none;
    color: white;
}

.carousel-container{
    width: 1000px;
    margin: 20px auto;

}

.carousel-container h3{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.carousel-container h2{
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.trending-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 80vw;
    margin: 0 auto;
}

.trending-container .card{
    margin: 20px;
}

.top-container{
    max-width: 80vw;
    margin: 0 auto;
}

.top-container .card{
    margin: 20px 0;
    max-width: 25vw;
}

.top-title{
    text-align: center;
    color: white;
    margin: 20px 0;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}

.top-card{
    display: flex;
    margin: 10px 0;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
}

.top-card img{
    max-width: 300px;
    object-fit: cover;
}

.top-card .info{
    margin: 30px 0 10px 10px;
}



@media screen and (max-width:1200px) {
    .carousel-container{
        width: 80vw;
    }
    .trending-container{
        grid-template-columns: 1fr 1fr;
        max-width: 90vw;
    }
    .top-card img{
        max-width: 200px;
    }
    .top-container{
        max-width: 90vw;
    }
}

@media screen and (max-width:700px){
    .carousel-container{
        width: 100vw;
    }
    .trending-container{
        grid-template-columns: 1fr;
    }
    .top-card img{
        max-width: 100%;
    }
    .top-container{
        max-width: 85vw;
    }
    .top-card{
        display: block;
    }
   
}