*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: rgb(75, 75, 75);
}


.container{
    display: flex;
}
footer{
    background-color: black;
    color: rgba(255, 255, 255, 0.699);
    width: 100%;
    height: 30px;
    text-align: right;
}
footer p{
    margin-right: 30px;
}

.carousel-container{
    width: 50vw;
    margin: 20px auto;

}

.carousel-container h3{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.carousel-container h2{
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.trending-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 80vw;
    margin: 0 auto;
}

.trending-container .card{
    margin: 20px;
}
