*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: rgb(75, 75, 75);
}


.container{
    display: flex;
}
footer{
    background-color: black;
    color: rgba(255, 255, 255, 0.699);
    width: 100%;
    height: 30px;
    text-align: right;
    margin-top: 50px;
}
footer p{
    margin-right: 30px;
}

a{
    text-decoration: none;
    color: white;
}
.menu-genres a{
    color: black;
}

.card-container{
    max-width: 80vw;
    margin: 0 auto;
}

.individual-title{
    text-align: center;
    color: white;
    margin: 20px 0;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}

.card-item{
    display: flex;
    margin: 10px 0;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
}

.card-item img{
    max-width: 300px;
    object-fit: cover;
}

.card-item .info{
    margin: 30px 0 10px 10px;
}

.pagination{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.new-img{
    width: 5vw;
}

.carousel-container{
    width: 1000px;
    margin: 20px auto;

}

.carousel-container h3{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.carousel-container h2{
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.trending-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 80vw;
    margin: 0 auto;
}

.trending-container .card{
    margin: 20px;
}
.dropdown{
    margin-left: 11vw;
}
.current-genre{
    color: white;
    font-size: 18px;
    margin-left: 20px;
}
@media screen and (max-width:1200px) {
    .carousel-container{
        width: 80vw;
    }
    .trending-container{
        grid-template-columns: 1fr 1fr;
        max-width: 90vw;
    }
    .card-item img{
        max-width: 200px;
    }
    .card-container{
        max-width: 90vw;
    }
    .new-img{
        width: 10vw;
    }

}

@media screen and (max-width:700px){
    .carousel-container{
        width: 100vw;
    }
    .trending-container{
        grid-template-columns: 1fr;
    }
    .card-container img{
        max-width: 100%;
    }
    .card-container{
        max-width: 85vw;
    }
    .card-item{
        display: block;
    }
    .new-item{
        display: flex;
    }
    .new-img{
        width: 20vw;
    }   

}